{% extends "base.html" %}
{% block title %} Service Partner Registration {% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<div style="text-align: center;">
    <h3>SERVICE PARTNER REGISTRATION</h3>

<br>
<br>
<div style="margin-left: 40px; margin-right: 40px;">
    <form class="form-signin" action="/psignup" method="post">
<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" >
  </div>

  <div class="mb-3">
    <label for="partdesc" class="form-label">Description</label>
    <textarea class="form-control" id="sdesc" name="sdesc" rows="3"></textarea>
  </div>
  <div class="mb-3 text-center">
    <label for="sname" class="form-label">Service Name</label>
    <select class="form-select" id="sname" name="sname" aria-label="Select a service">
        <option selected disabled>Choose a service...</option>
        {% for service in services %}
        <option value="{{ service.name }}">{{ service.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="text-center">
    <label for="ppass" class="form-label">Password</label>
    <input type="password" id="ppass" name="ppass" class="form-control" aria-describedby="passwordHelpBlock">
    <div id="passwordHelpBlock" class="form-text">
        Enter the password to access your account
    </div>
</div>
</div>
<br>
<input class="btn btn-info" type="submit" value="Register">
</form>
</div>
{% endblock %}