{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<div style="text-align: center;">
    <h3>SIGN UP</h3>

<br>
<br>
<div style="margin-left: 40px; margin-right: 40px;">
<form class="form-signin" action="/signup" method="post">

<div class="mb-3 text-center">
    <label for="cname" class="form-label">Username</label>
    <input type="text" class="form-control" id="cname" name ="cname">
</div>
<div class="text-center">
    <label for="cpass" class="form-label">Password</label>
    <input type="password" id="cpass" name ="cpass" class="form-control" aria-describedby="passwordHelpBlock">
    <div id="passwordHelpBlock" class="form-text">
        Enter the password to access your account
    </div>
</div>
<br>
<input class="btn btn-info" type="submit" value="Register">
</form>
</div>
</div>
{% endblock %}